:root{
    --primary: #818cf8;
    --secundary: #111827;
    --background-color-transparent-10: #818df81e;
    --background-color-transparent-40: #818df873;


    --text-gray: #9ca3af;
    --text-black: #000;

    --white: #fff;

    --hr: #2a354d;
}