html, body{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    font-family: var(--font-family);
}

header{
    height: 100%;
    width: 300px;
    background-color: var(--secundary);
    display: flex;
    flex-direction: column;
}

.headermenu{
    display: flex;
}

.idioma{
    display: flex;
    align-items: center;
    color: var(--white);
}

img{
    width: 50%;
}

hr{
    width: 100%;
    background-color: var(--hr);
    border: 0.1px solid;
}

.menu{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.materia,
.conteudo,
.historic,
.estatisticas,
.dicas,
.sobre{
    display: flex;
    padding-bottom: 10px;
}

a{
    color: var(--text-gray);
    text-decoration: none;
    font-size: var(--font-size-large);
    display: flex;
    gap: 30px;
    padding: 10% 0 10% 10%;
    width: 100%;
}

a:hover{
    color: var(--primary);
    background-color: var(--background-color-transparent-10);
    transition: all 0.5s;
    border-radius: 10px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--text-gray);
    font-size: var(--font-size-large);
    cursor: pointer;
    padding: 5px;
}