/*div{
    border: 1px solid red;
}*/

.principal{
    color: var(--primary);
    font-size: var(--font-size-xl);
    font-weight: bold;
    gap: 15px;
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 91%;
}

.search{
    display: flex;
    width: 100%;
    height: 40px;
    gap: 30px;
    justify-content: center;
}

main{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    padding-left: 6%;
}

.searchTheme{
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.searchTheme .fa-magnifying-glass{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-small);
    color: var(--text-gray);
}

.searchTheme .fa-x{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-small);
    cursor: pointer;
    color: var(--text-gray);
}

.boxSearch{
    width: 100%;
    height: 80%;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-color-transparent-40);
}

.boxSearch::placeholder{
    color: var(--text-gray);
}

.subtitle{
    color: var(--primary);
    font-weight: bold;
    font-size: var(--font-size-medium);
}

.historic a{
    color: var(--primary);
    background-color: var(--background-color-transparent-10);
    transition: all 0.5s;
    border-radius: 10px;
}

.searchCategory{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 2%;
}

.searchCategory select{
    border: none;
    border-bottom: 1px solid transparent;
    width: 30%;
    height: 80%;
    font-size: var(--font-size-small);
    transition: all 0.7s ease;
    color: var(--text-gray);
    background-color: var(--background-color-transparent-40);
    border-radius: 5px;
}

.searchCategory select:hover{
    border: 1px solid var(--primary);
    border-radius: 10px;
    color: var(--primary);
}


.task{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 3%;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.task:hover{
    background-color: var(--background-color-transparent-10);
}

.lineOne{
    display: flex;
    min-height: 50px;
    width: 100%;
    gap: 30px;
}

.titleTask{
    font-weight: bold;
    font-size: var(--font-size-medium);
    width: 40%;
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    gap: 20px;
    font-size: var(--font-size-small);
    margin-top: 2%;
}

.date{
    color: var(--text-gray);
    font-weight: 100;
}

.action{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.action button{
    width: 7%;
    background-color: var(--gray);
    border: none;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.action button:hover{
    background-color: var(--background-color-transparent-40);
}

.lineTwo{
    width: 100%;
    display: flex;
}

.descrition{
    width: 100%;
    margin-top: 1%;
}