.principal{
    color: var(--primary);
    font-size: 30px;
    font-weight: bold;
    gap: 15px;
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.search{
    display: flex;
    width: 100%;
}

main{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.searchTheme{
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.searchTheme .fa-magnifying-glass{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--text-gray);
}

.searchTheme .fa-x{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    cursor: pointer;
    color: var(--text-gray);
}

.boxSearch{
    width: 100%;
    height: 25px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--background-color-transparent-40);
}


.subtitle{
    color: var(--primary);
    font-weight: bold;
}

.historic a{
    color: var(--primary);
    background-color: var(--background-color-transparent-10);
    transition: all 0.5s;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .principal {
        font-size: var(--font-size-large);
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    
    .search {
        flex-direction: column;
        gap: 20px;
    }
    
    .searchTheme {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .searchCategory {
        text-align: center;
    }
    
    .boxSearch {
        height: 35px;
        font-size: var(--font-size-medium);
    }
    
    select {
        width: 100%;
        padding: 8px;
        font-size: var(--font-size-medium);
        border-radius: 5px;
        border: 1px solid var(--primary);
    }
}

@media (max-width: 480px) {
    .principal {
        font-size: var(--font-size-medium);
    }
    
    .searchTheme {
        gap: 15px;
    }
    
    .boxSearch {
        height: 30px;
        font-size: var(--font-size-small);
    }
    
    .subtitle {
        font-size: var(--font-size-small);
    }
}