body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
}

.card {
    display: flex;
    background-color: var(--bs-gray-300);
    justify-content: space-between;
    width: 556px;
    height: 580px;
    border-radius: 20px;
    padding: 20px;
    box-shadow:
        -5px 0 10px rgba(0, 0, 0, 0.15),
        7px 0 10px rgba(0, 0, 0, 0.15),
        0 -5px 10px rgba(0, 0, 0, 0.15),
        0 7px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
}

.textGray {
    text-align: center;
    color: var(--bs-gray-500);
    font-size: 15px;
}

button {
    width: 250px;
    height: 60px;
    background-color: var(--secundary);
    border: none;
    font-weight: bold;
    border-radius: 20px;
    font-size: 22.2px;
    box-shadow: 5px 5px 2px var(--bs-secundary);
    color: var(--bs-light);
    align-self: center;
}

input {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background-color:  var(--bs-gray-300);
}

.boxSenha,
.boxUser,
.boxEmail {
    margin-left: 5%;
    font-weight: bold;
}

.inputBox {
    position: relative;
    width: 85%;
}

.inputBox input {
    width: 100%;
    padding-right: 35px;
}

input::placeholder {
    color: var(--placeholder);
}

.inputBox .icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon{
    width: 24px;
    height: 24px;
    color: var(--placeholder);
}

.senha,
.user,
.email {
    margin-bottom: 1%;
    font-size: 18px;
}

a {
    color: var(--bs-primary);
}

.person {
    position: absolute;
    margin-left: 35%;
    margin-top: 10%;
}

.imgLogo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 50%;
    height: auto;
}

.toggle-password .eye-slash {
    display: block;
}

.toggle-password.active .eye-slash {
    display: none;
}


@media (max-width: 1400px) {
    .container {
        justify-content: center;
        padding: 20px;
    }

    .card {
        width: 500px;
        height: auto;
        padding: 20px 15px;
    }

    .boxUser,
    .boxSenha,
    .boxEmail {
        margin-left: 0;
        font-size: 12px;
    }

    .inputBox {
        width: 100%;
    }

    .user,
    .senha,
    .email {
        font-size: 14px;
        margin-top: 5%;
    }

    button {
        width: 60%;
        height: 40px;
        font-size: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .person{
        display: none;
    }
}