main{
    width: 100%;
    position: relative;
    font-family:'jenkins', sans-serif;
}

.quadradoHeader{
    width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    max-height: 1200px;
}
.collum1, .collum2 {
    gap: 50px;
    width: 80%;
}