main{
    width: 80%;
}

.search-container{
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
}

.subjects-container{
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    background-color: var(--background);
    padding: 20px;
    box-sizing: border-box;
}

img{
    width: 220px;
    height: 220px;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

.subjects-button{
    width: 220px;
    height: 55px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    width: 300px;
    height: 300px;
    background-color: var(--gray);
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    overflow: hidden;
}

.card .divider-line{
    position: absolute;
    left: 38px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgba(100, 100, 100, 0.192);
    z-index: 3;
}

.card::before{
    content: "";
    position: absolute;
    left: 12px;
    top: 48px;
    width: 16px;
    height: 16px;
    background-color: var(--background);
    border-radius: 50%;
    box-shadow: 0 70px 0 var(--background), 0 140px 0 var(--background), 0 210px 0 var(--background);
    z-index: 2;
}

.card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        transparent 0px,
        transparent 29px,
        rgba(100, 100, 100, 0.158) 29px,
        rgba(100,100,100,0.158) 30px
    );
    pointer-events: none;
    border-radius: 20px;
}

body.dark .card .subjects-button{
    color: black;
}

.subjects-container button a{
    color: var(--text-secundary);
    text-decoration: none;
}

.subjects-button.checkbox{
    position: relative;
}

.subjects-button.checkbox.selected{
    background-color: var(--primary-color);
}

.subjects-button.checkbox.selected::after{
    background-color: var(--success-color);
    border-color: var(--success-color);
}

.prova-container{
    width: 83%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.prova-geral-container{
    justify-content: center;
}

.prova-geral{
    width: 500px;
    max-width: 100%;
}

.card-prova{
    background-color: var(--gray);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
}